@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-layout-content {
  flex: unset !important;
  color: rgba(0, 0, 0, 0.88);
  width: 98%;
  margin-left: 1%;
  /* เพิ่มค่าพัดดิ้งทางซ้าย */
}

p {
  padding-left: 20px;
  font-size: 17px;
}

element.style {
  padding: 6px;
  background: blueviolet;
  border-radius: 6px;
}